/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011

Less version credit: https://github.com/thatericsmith/Skeleton
*/

/* Table of Contents
==================================================
    #Base 960 Grid
    #Clearing */

/* #Base 960 Grid
================================================== */

.container {
  position: relative;
  width: 960px;
  padding: 0;
  margin: 0 auto;
}

.container.plusfour {
  width: 1200px;
}

.container.pluseight {
  width: 1440px;
}

.column,
.columns {
  display: inline;
  float: left;
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.row {
  margin-bottom: 20px;
}

/* Nested Column Classes */

.column.alpha,
.columns.alpha {
  margin-left: 0!important;
}

.column.omega,
.columns.omega {
  margin-right: 0!important;
}

.column.alpha.omega,
.columns.alpha.omega {
  margin: 0!important;
}

.container {
  /* Base Grid */

  /* Offsets */

}

.container .one.column {
  width: 40px;
}

.container .columns.two {
  width: 100px;
}

.container .columns.three {
  width: 160px;
}

.container .columns.four {
  width: 220px;
}

.container .columns.five {
  width: 280px;
}

.container .columns.six {
  width: 340px;
}

.container .columns.seven {
  width: 400px;
}

.container .columns.eight {
  width: 460px;
}

.container .columns.nine {
  width: 520px;
}

.container .columns.ten {
  width: 580px;
}

.container .columns.eleven {
  width: 640px;
}

.container .columns.twelve {
  width: 700px;
}

.container .columns.thirteen {
  width: 760px;
}

.container .columns.fourteen {
  width: 820px;
}

.container .columns.fifteen {
  width: 880px;
}

.container .columns.sixteen {
  width: 940px;
}

.container .columns.twenty {
  width: 1200px;
}

.container .columns.twentyfour {
  width: 1420px;
}

.container .one-third.column {
  width: 300px;
}

.container .two-thirds.column {
  width: 620px;
}

.container .offset-by-one {
  padding-left: 60px;
}

.container .offset-by-two {
  padding-left: 120px;
}

.container .offset-by-three {
  padding-left: 180px;
}

.container .offset-by-four {
  padding-left: 240px;
}

.container .offset-by-five {
  padding-left: 300px;
}

.container .offset-by-six {
  padding-left: 360px;
}

.container .offset-by-seven {
  padding-left: 420px;
}

.container .offset-by-eight {
  padding-left: 480px;
}

.container .offset-by-nine {
  padding-left: 540px;
}

.container .offset-by-ten {
  padding-left: 600px;
}

.container .offset-by-eleven {
  padding-left: 660px;
}

.container .offset-by-twelve {
  padding-left: 720px;
}

.container .offset-by-thirteen {
  padding-left: 780px;
}

.container .offset-by-fourteen {
  padding-left: 840px;
}

.container .offset-by-fifteen {
  padding-left: 900px;
}

/*  Skeleton Continued  - paste this code before the "Clearing" code in the 
"skeleton.css" document if you wish to have a responsive document  */

/* FIX FOR PLUS SIZES
================================================== */

@media only screen and (min-width: 960px) and (max-width: 1199px) {
  .container.plusfour,
  .container.pluseight {
    position: relative;
    width: 960px;
    padding: 0;
    margin: 0 auto;
  }
  .container .twenty.columns {
    width: 940px;
  }
  .container .twentyfour.columns {
    width: 940px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .container.pluseight {
    position: relative;
    width: 1200px;
    padding: 0;
    margin: 0 auto;
  }
  .container .twenty.columns {
    width: 1180px;
  }
  .container .twentyfour.columns {
    width: 1180px;
  }
}

/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }
  .container.plusfour {
    width: 768px;
  }
  .container.pluseight {
    width: 768px;
  }
  .container .column,
  .container .columns {
    margin-right: 10px !important;
    margin-left: 10px !important;
  }
  .column.alpha,
  .columns.alpha {
    margin-right: 10px !important;
    margin-left: 0!important;
  }
  .column.omega,
  .columns.omega {
    margin-right: 0!important;
    margin-left: 10px !important;
  }
  .container {
    /* Base Grid */
  
    /* Offsets */
  
  }
  .container .one.column {
    width: 28px;
  }
  .container .columns.two {
    width: 76px;
  }
  .container .columns.three {
    width: 124px;
  }
  .container .columns.four {
    width: 172px;
  }
  .container .columns.five {
    width: 220px;
  }
  .container .columns.six {
    width: 268px;
  }
  .container .columns.seven {
    width: 316px;
  }
  .container .columns.eight {
    width: 364px;
  }
  .container .columns.nine {
    width: 412px;
  }
  .container .columns.ten {
    width: 460px;
  }
  .container .columns.eleven {
    width: 508px;
  }
  .container .columns.twelve {
    width: 556px;
  }
  .container .columns.thirteen {
    width: 604px;
  }
  .container .columns.fourteen {
    width: 652px;
  }
  .container .columns.fifteen {
    width: 700px;
  }
  .container .columns.sixteen {
    width: 748px;
  }
  .container .columns.twenty {
    width: 748px;
  }
  .container .columns.twentyfour {
    width: 748px;
  }
  .container .one-third.column {
    width: 236px;
  }
  .container .two-thirds.column {
    width: 492px;
  }
  .container .offset-by-one {
    padding-left: 48px;
  }
  .container .offset-by-two {
    padding-left: 96px;
  }
  .container .offset-by-three {
    padding-left: 144px;
  }
  .container .offset-by-four {
    padding-left: 192px;
  }
  .container .offset-by-five {
    padding-left: 240px;
  }
  .container .offset-by-six {
    padding-left: 288px;
  }
  .container .offset-by-seven {
    padding-left: 336px;
  }
  .container .offset-by-eight {
    padding-left: 384px;
  }
  .container .offset-by-nine {
    padding-left: 432px;
  }
  .container .offset-by-ten {
    padding-left: 480px;
  }
  .container .offset-by-eleven {
    padding-left: 528px;
  }
  .container .offset-by-twelve {
    padding-left: 576px;
  }
  .container .offset-by-thirteen {
    padding-left: 624px;
  }
  .container .offset-by-fourteen {
    padding-left: 672px;
  }
  .container .offset-by-fifteen {
    padding-left: 720px;
  }
}

/*  #Mobile (Portrait)
================================================== */

@media only screen and (max-width: 767px) {
  {
    /* Offsets */
  
  }
  .columns,
  .column {
    margin: 0!important;
  }
  .container {
    width: 300px;
  }
  .container.plusfour,
  .container.pluseight {
    width: 300px;
  }
  .container .column.one-third,
  .container .column.two-thirds,
  .container .column.one {
    width: 300px;
  }
  .container .columns.two,
  .container .columns.three,
  .container .columns.four,
  .container .columns.five,
  .container .columns.six,
  .container .columns.seven,
  .container .columns.eight,
  .container .columns.nine,
  .container .columns.ten,
  .container .columns.eleven,
  .container .columns.twelve,
  .container .columns.thirteen,
  .container .columns.fourteen,
  .container .columns.fifteen,
  .container .columns.sixteen,
  .container .columns.twenty,
  .container .columns.twentyfour {
    width: 300px;
  }
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen {
    padding-left: 0;
  }
}

/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 420px;
  }
  .container.plusfour,
  .container.pluseight {
    width: 420px;
  }
  .container .column.one-third,
  .container .column.two-thirds,
  .container .column.one {
    width: 420px;
  }
  .container .columns.two,
  .container .columns.three,
  .container .columns.four,
  .container .columns.five,
  .container .columns.six,
  .container .columns.seven,
  .container .columns.eight,
  .container .columns.nine,
  .container .columns.ten,
  .container .columns.eleven,
  .container .columns.twelve,
  .container .columns.thirteen,
  .container .columns.fourteen,
  .container .columns.fifteen,
  .container .columns.sixteen,
  .container .columns.twenty,
  .container .columns.twentyfour {
    width: 420px;
  }
}

/* #Clearing
================================================== */

/* Self Clearing Goodness */

.container:after {
  display: block;
  height: 0;
  clear: both;
  content: "\0020";
  visibility: hidden;
}

/* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  content: '\0020';
  visibility: hidden;
}

.row:after,
.clearfix:after {
  clear: both;
}

.row,
.clearfix {
  zoom: 1;
}

/* You can also use a <br class="clear" /> to clear columns */

.clear {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden;
}

/*! normalize.css v2.0.1 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: 'Open Sans', sans-serif;
  /* 1 */

  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  /* 2 */

}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font size within `section` and `article` contexts in
 * Firefox 4+, Safari 5, and Chrome.
 */

h1 {
  font-size: 2em;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  color: #000;
  background: #ff0;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  padding: 0.35em 0.625em 0.75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  padding: 0;
  border: 0;
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  box-sizing: border-box;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
  color: #444444;
  background: #efefef;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

::selection {
  text-shadow: none;
  background: #b3d4fc;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid #ccc;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
  padding: 0.2em 0;
  margin: 0.2em 0;
  color: #000;
  background: #ccc;
}

/* Borrowed from:
	http://css-tricks.com/snippets/css/useful-css3-less-mixins/
	https://github.com/owzzz/Useful-Less-Mixins/blob/master/mixins.less

*/

/****************************************
************ Media Queries **************
****************************************/

/*

All site-specific styles go here.

Some rules and guidelines:
	classes are better than IDs
	don't specify font-sizes more than once
	avoid making classes for one rule
	avoid using pixels for font-sizes except on body
	don't abuse less nesting

*/

/*Typefaces*/

/*Color Pallete*/

body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #040808;
  transition: all 0.2s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Adelle', serif;
}

p {
  line-height: 1.8em;
}

.italic {
  font-style: italic;
}

/*Base Structure Styles*/

.container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.inner-wrap {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.full-width.row {
  width: 100%;
  min-height: 65px;
  margin-bottom: 0;
  color: #fff;
  background-color: #0095cb;
}

.full-width.row h4 {
  width: 90%;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0 auto;
  line-height: 1.8em;
}

.q-cities {
  width: 60px;
  min-height: 90px;
  margin: 0 auto;
}

.q-cities img {
  width: 60px;
  height: auto;
}

/*Nav Styles*/

.navigation {
  width: 100%;
  height: 130px;
  overflow: visible;
  background-color: #040808;
}

.navigation .inner-wrap {
  position: relative;
  width: 100%;
  min-height: 50px;
}

.navigation ul {
  padding: 0;
  margin-top: 90px;
  list-style: none;
}

.navigation li a {
  font-family: 'Copperplate';
  color: #e6e6e6;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.13s ease-in-out;
}

.navigation li a:hover {
  color: #fff;
  text-shadow: 0 3px 15px #fff;
}

.navigation .left {
  position: absolute;
  left: 30px;
  z-index: 999;
  width: 40%;
  margin: 0;
}

.navigation .left li {
  float: left;
  margin-right: 25px;
}

.navigation .right {
  position: absolute;
  top: 0;
  right: 40px;
  z-index: 999;
  width: 40%;
  margin: 0;
}

.navigation .right li {
  float: right;
  margin-left: 25px;
}

.navigation .brand {
  position: relative;
  height: 50px;
  max-width: 200px;
  margin: 0 auto;
  overflow: visible;
  background-color: none;
}

.navigation .brand .oval {
  position: absolute;
  width: 350px;
  height: 150px;
  margin-top: 10px;
  margin-left: -70px;
  background-color: #040808;
  border-radius: 50%;
}

.navigation .brand .q-cities {
  position: relative;
  bottom: -10px;
  width: 40px;
}

.navigation .brand .q-cities img {
  width: 40px;
  height: auto;
}

.navigation .brand .ny {
  margin-left: -30px;
}

.navigation .brand .ny h3 {
  width: 100px;
  padding: 0;
  padding-top: 5px;
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: .01em;
  color: #e6e6e6;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #fff;
}

#nav-static {
  position: absolute;
  top: 0;
  right: 0;
}

#nav-sticky {
  position: fixed;
  display: none;
}

/*Mobile Nav*/

#nav-mobile .mobile {
  display: none;
  background-color: #040808;
  transition: height 1s ease-in-out;
}

#nav-mobile .mobile ul {
  margin-top: 130px;
}

#nav-mobile .nav-button {
  position: absolute;
  top: 15px;
  right: 10px;
  display: none;
  padding: 10px;
  background-color: #333333;
  transition: all 0.2s ease-in-out;
}

#nav-mobile .nav-button i {
  color: #fff;
}

#nav-mobile .nav-button:hover {
  top: 14px;
  right: 9px;
  padding: 11px;
  background-color: #404040;
}

#nav-mobile .nav-button:active {
  top: 13px;
  right: 8px;
  padding: 12px;
  background-color: #595959;
}

/*First Section*/

.center {
  width: 80%;
  max-width: 380px;
  min-width: 360px;
  padding-top: 200px;
  margin: 0 auto;
}

.center .ny {
  width: 100%;
}

.center .ny h1 {
  padding: 0;
  padding-top: 10px;
  font-size: 4em;
  font-weight: 600;
  letter-spacing: .01em;
  text-align: center;
  text-transform: uppercase;
  border: 4px solid #fff;
}

.center p {
  line-height: 1.8em;
  text-align: center;
}

#one {
  min-height: 700px;
  background-attachment: fixed;
  background-image: url('../img/bg_empire.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#one #reviewslider .inner-wrap {
  height: 300px;
  overflow: hidden;
}

#one .bottom-half {
  min-height: 400px;
  margin-top: 80px;
  background: -webkit-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: -moz-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#ff000000', GradientType=0);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#ff000000', GradientType=0);
}

#one .bottom-half h2 {
  font-size: 2em;
  font-weight: 300;
  color: #0095cb;
  text-align: center;
}

#one .bottom-half #image-grid {
  height: auto;
  max-width: 270px;
}

#one .bottom-half p {
  margin-top: 0;
  line-height: 1.7em;
}

/*End First Section*/

/*First and a Half. Slider time.*/

.border {
  position: relative;
  width: 100%;
  height: .5px;
  overflow: hidden;
  border-top: 1px solid #0095cb;
}

#onehalf {
  height: 250px;
}

#onehalf #reviews {
  z-index: 999;
  max-width: 1000px;
  margin: 0 auto;
}

#onehalf #reviews h4 {
  position: absolute;
  padding-left: 4px;
  margin-top: 0;
  font-size: .8em;
  letter-spacing: .3em;
  color: #0095cb;
  text-align: center;
  text-transform: uppercase;
  background-color: #040808;
}

#onehalf #reviews .bgblk {
  width: 100px;
  padding: 10px;
  margin: 0 auto;
  margin-top: -17px;
}

#onehalf #reviewslider {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

#onehalf #reviewslider i {
  margin: 0;
  margin-top: .5em;
  color: #0095cb;
  transition: all 0.3s ease-in-out;
}

#onehalf #reviewslider i:hover {
  color: #65d6ff;
  text-shadow: 0 3px 15px #0095cb;
}

#onehalf #reviewslider .inner-wrap {
  height: 200px;
  margin-top: 20px;
  overflow: hidden;
}

#onehalf #reviewslider .inner-wrap .five.columns {
  float: left;
  height: 200px;
}

#onehalf #reviewslider .inner-wrap p {
  font-size: .8em;
  font-style: italic;
  text-align: center;
}

#onehalf #reviewslider .inner-wrap h5 {
  margin: 6px;
  color: #0095cb;
  text-align: center;
}

#onehalf #reviewslider .slide {
  width: 30% !important;
}

/*Second Section*/

#two {
  padding-top: 50px;
  color: #040808;
  background-color: #fff;
}

#two .row h3 {
  display: none;
  margin-top: 0;
  font-size: 1.3em;
  color: #0095cb;
}

#two #gabe {
  width: 100%;
  height: auto;
  min-height: 200px;
  background-image: url('../img/gabe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#two .italic {
  font-size: .9em;
}

#two .eleven.columns h3 {
  display: block;
  margin-top: 0;
  font-size: 1.3em;
  color: #0095cb;
}

#two p.five.columns {
  float: left;
}

#two #photo-ribbon {
  height: 120px;
  margin-bottom: 0;
  overflow: hidden;
  background-attachment: scroll;
  background-image: url('../img/ribbon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#two .full-width {
  padding-top: 4px;
  padding-bottom: 14px;
  margin-top: 0;
  overflow: hidden;
}

#two .full-width h4 {
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
}

/*Long New York Background image*/

#newyork {
  min-height: 1500px;
  margin-top: -10px;
  background-attachment: fixed;
  background-image: url('../img/bg_ny.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/*Section 3. Crazy interactions start here.*/

#three .center {
  padding-top: 80px;
  margin-top: 0;
}

#three .center h3 {
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
}

#three .center .q-cities img {
  width: 70px;
  height: auto;
}

/*Section 4. Speakers.*/

#four {
  padding-bottom: 50px;
  margin-top: 50px;
}

#four .inner-wrap {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

#four .inner-wrap h2 {
  margin-bottom: 40px;
  font-size: 1.8em;
  font-weight: 300;
  color: #0095cb;
  text-align: center;
}

#presenter-grid {
  min-height: 700px;
}

#presenter-grid .tagline {
  float: left;
  width: 25%;
  height: 100%;
  max-width: 300px;
  min-height: 400px;
}

#presenter-grid .tagline h5 {
  padding-top: 150px;
  padding-right: 20px;
  font-size: 1.6em;
  font-weight: 400;
}

#presenter-grid .grid-wrap {
  float: left;
  width: 75%;
  height: 100%;
  max-width: 1000px;
  min-height: 600px;
}

#presenter-grid .grid-wrap .speaker-row {
  height: 200px;
}

.grid {
  display: inline-block;
  float: left;
  width: 20%;
  height: 180px;
  max-width: 150px;
  margin-bottom: 0;
}

.grid.blank {
  padding: .1px;
}

.grid.speaker {
  height: 200px;
  text-align: center;
  background-color: #fff;
}

.grid.speaker img {
  width: 87%;
  max-width: 140px;
  margin: 0 auto;
  margin-top: 10px;
}

.grid.speaker a {
  float: left;
  margin: 0;
  margin-left: 10px;
  font-family: 'Helvetica', sans-serif;
  color: #0095cb;
  text-decoration: none;
  transition: all 0.13s ease-in-out;
}

.grid.speaker a:hover {
  margin-left: 13px;
  color: #32c8ff;
}

.grid.speaker p {
  margin: 0;
  margin-left: 10px;
  font-family: 'Adelle', serif;
  font-size: 1em;
  color: #040808;
  text-align: left;
}

/*Speaker Bios*/

.box-wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.box-wrap.visible {
  display: block;
  height: 100%;
  opacity: 1;
}

.box-wrap.visible .box {
  display: block;
}

.box-wrap.visible .box .description {
  display: block;
}

.box-wrap.visible .box .close {
  display: block;
}

.box {
  position: relative;
  z-index: 999;
  display: none;
  width: 70%;
  max-width: 500px;
  min-height: 200px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 60px;
  text-align: left;
  background-color: #fff;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.box .description {
  font-size: 1em;
  line-height: 1.6em;
  color: #040808;
}

.box .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 24px;
  padding: 1px;
  padding-top: 7px;
  text-align: center;
  background-color: #c63954;
  transition: all 0.2s ease-in-out;
}

.box .close:hover {
  top: -3px;
  right: -3px;
  width: 33px;
  height: 27px;
  padding-top: 10px;
  cursor: pointer;
  background-color: #d77487;
}

#signup-form {
  position: relative;
  width: 100%;
  height: 50px;
  max-width: 1000px;
  min-height: 50px;
  padding: 6px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #0095cb;
}

#signup-form .form-wrap {
  position: absolute;
  top: 6px;
  right: 5px;
  width: 98.5%;
  min-height: 50px;
  margin-left: 10px;
}

#signup-form h4,
#signup-form input {
  padding: 0;
  margin: 0;
}

#signup-form h4 {
  width: 40%;
  padding-left: 12px;
  margin-top: 14px;
  margin-left: 10px;
  font-size: 1.2em;
  color: #fff;
}

#signup-form .email {
  width: 80%;
  min-height: 47px;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}

#signup-form .email:focus {
  opacity: 1;
}

#signup-form .submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 19.25%;
  min-height: 51px;
  margin: 0;
  color: #fff;
  background-color: #0095cb;
  border: none;
  border-left: 3px solid #040808;
  transition: background-color 0.13s ease-in-out;
}

#signup-form .submit:hover {
  background-color: #004a65;
}

/*Section 5*/

#five h2 {
  margin-top: 70px;
  font-size: 2.3em;
  font-weight: 300;
  color: #0095cb;
  text-align: center;
}

#five .center {
  padding-top: 0;
  margin-top: 50px;
  line-height: 1.8em;
  text-align: center;
}

#five #eventbrite {
  width: 60%;
  max-width: 600px;
  min-height: 350px;
  padding: 1px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 80px;
  background-color: #cccccc;
}

#five #eventbrite p.center {
  min-width: 0;
  color: #0095cb;
}

/*Section 6*/

#six {
  min-height: 700px;
  color: #040808;
  background-color: #fff;
}

#six .inner-wrap {
  padding-top: 50px;
  padding-bottom: 50px;
}

#six h3 {
  font-family: 'Adelle', serif;
  font-size: 2em;
  color: #0095cb;
}

#six #faq-wrap {
  max-width: 1000px;
}

#six #faq-wrap h3 {
  font-size: 1.2em;
  font-weight: 600;
}

/*Section 7*/

#seven {
  color: #5e6e66;
}

#seven .imageborder {
  width: 100%;
  height: 100px;
  background-image: url('../img/footer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#seven h3 {
  text-transform: uppercase;
}

#seven #sponsors {
  padding-bottom: 100px;
}

#seven #sponsors img {
  height: auto;
  max-width: 140px;
}

/*********** Media Queries ****************/

/* >1130px */

@media only screen and (min-width: 1130px) {
  #photo-ribbon {
    display: none;
  }
}

/* <1130px */

@media only screen and (max-width: 1130px) {
  #two {
    margin-top: 0;
  }
  #four #presenter-grid {
    max-width: 755px;
    min-height: 800px;
    margin: 0 auto;
  }
  #four #presenter-grid .tagline {
    float: none;
    width: 100%;
    max-width: 700px;
    min-height: 100px;
  }
  #four #presenter-grid .tagline h5 {
    padding-top: 20px;
    padding-right: 0;
    text-align: center;
  }
  #four #presenter-grid .grid-wrap {
    width: 100%;
    height: auto;
    max-width: 755px;
    min-height: 600px;
  }
  .navigation .inner-wrap {
    width: 100%;
  }
  .navigation .inner-wrap .left {
    left: 20px;
  }
  .navigation .inner-wrap .right {
    right: 20px;
  }
}

/* <1069px */

@media only screen and (max-width: 1069px) {
  #one .columns.five {
    width: 30% !important;
    margin-left: 1% !important;
  }
  #one .columns.five p {
    width: 100%;
  }
  #two .columns.eleven.offset-by-one,
  #two .columns.five.offset-by-one {
    padding-left: 0;
  }
  #two .columns.eleven {
    width: 70% !important;
  }
  #two .columns.five {
    width: 30% !important;
  }
  .slidewrap-inner {
    width: 90%;
    margin: 0 auto;
  }
  #faq-wrap .row {
    width: 85%;
    margin: 0 auto;
  }
  #faq-wrap .row .offset-by-one {
    padding-left: 0 !important;
  }
  #signup-form h4 {
    padding-left: 0;
  }
}

/* <960px */

@media only screen and (max-width: 960px) {
  #one #image-grid {
    display: none;
  }
  #one .columns.five {
    width: 47% !important;
    margin-left: 1% !important;
  }
  #one .columns.five p {
    width: 100%;
  }
  #onehalf .slidecontrol {
    position: absolute;
    width: 32px;
    height: 67px;
  }
  #onehalf .slidecontrol.left {
    left: 20px;
  }
  #onehalf .slidecontrol.right {
    right: 20px;
  }
  #four #presenter-grid {
    max-width: 755px;
    min-height: 800px;
    margin: 0 auto;
  }
  #four #presenter-grid .tagline {
    float: none;
    width: 100%;
    max-width: 700px;
    min-height: 100px;
  }
  #four #presenter-grid .tagline h5 {
    padding-top: 20px;
    padding-right: 0;
    text-align: center;
  }
  #four #presenter-grid .grid-wrap {
    width: 100%;
    height: auto;
    max-width: 755px;
    min-height: 600px;
  }
  #signup-form h4 {
    padding-left: 6px;
    margin-left: 0;
    font-size: 1.1em;
  }
}

/* <800px */

@media only screen and (max-width: 800px) {
  #onehalf {
    height: 250px;
  }
  #two {
    margin-top: 50px;
  }
  #two .row h3 {
    display: block;
  }
  #two .row .offset-by-one {
    padding-left: 0 !important;
  }
  #two .columns.eleven h3 {
    display: none;
  }
  #four #presenter-grid {
    max-width: 768px;
    min-height: 800px;
    margin: 0 auto;
  }
  #four #presenter-grid .tagline {
    float: none;
    width: 100%;
    max-width: 700px;
    min-height: 100px;
  }
  #four #presenter-grid .tagline h5 {
    padding-top: 20px;
    padding-right: 0;
    text-align: center;
  }
  #four #presenter-grid .grid-wrap {
    width: 100%;
    height: auto;
    max-width: 768px;
    min-height: 600px;
  }
  #four .speaker-row {
    margin-top: 20px;
  }
  #four .grid {
    width: 25%;
    margin-left: 6%;
  }
  #four .blank {
    display: none;
  }
  #four .grid.speaker {
    margin-left: 6%;
  }
  #four .grid.speaker p {
    margin-left: 8px;
  }
  #four .grid.speaker a {
    margin-left: 8px;
  }
  #four .speaker-row.two {
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
  }
  #four .speaker-row.two .grid {
    width: 40%;
    margin-left: 5%;
  }
}

/*Fix reviewslider breakpoint mixup*/

@media only screen and (max-width: 822px) {
  #onehalf #reviewslider .slide {
    width: 97% !important;
    margin-top: 30px;
  }
  #four #signup-form {
    margin-top: 50px;
  }
}

/*Fix .five.columns problems in #two*/

@media only screen and (max-width: 785px) {
  #two .columns.eleven {
    display: none;
  }
}

/*Hide conventional nav, fix some bugs*/

@media only screen and (max-width: 768px) {
  {
    /*Mobile Nav*/
  
  }
  .navigation {
    height: 80px;
  }
  .navigation .brand .oval {
    margin-top: -30px;
    margin-left: -75px;
  }
  .navigation .brand .q-cities {
    bottom: -55px;
  }
  .navigation .ny {
    display: none;
  }
  .navigation .right,
  .navigation .left {
    display: none;
  }
  #nav-mobile .mobile.active {
    z-index: 999;
    display: block;
    height: 600px;
    margin-top: 100px;
    text-align: center;
  }
  #nav-mobile .nav-button {
    display: block;
  }
  #two .columns.four {
    width: 30% !important;
  }
  #two .columns.five {
    margin-left: 2% !important;
  }
}

/*Hide slide controls*/

@media only screen and (max-width: 610px) {
  .slidecontrol {
    display: none;
  }
}

/* <600px */

@media only screen and (max-width: 600px) {
  #one .inner-wrap .five.columns {
    width: 100% !important;
  }
  #one .inner-wrap #image-grid {
    width: 100% !important;
  }
  #one .inner-wrap #image-grid img {
    margin: 0 auto;
  }
  #onehalf {
    height: 250px;
  }
  #two .columns.four {
    min-width: 185px !important;
  }
  #two .columns.five {
    width: 60% !important;
  }
  #four .speaker.grid p,
  #four .speaker.grid a {
    width: 87%;
    font-size: .9em;
    text-align: left;
  }
}

/*Fix that photo of Gabe*/

@media only screen and (max-width: 585px) {
  #two .columns.four {
    width: 40% !important;
  }
  #two .columns.five {
    width: 50% !important;
  }
}

@media only screen and (max-width: 428px) {
  #onehalf {
    height: 200px;
  }
  #two .columns.four {
    width: 100% !important;
  }
  #two #gabe {
    min-height: 300px;
  }
  #two .columns.five {
    width: 100% !important;
    margin-left: 0 !important;
  }
  #four {
    padding-bottom: 20px;
  }
  #four .speaker-row {
    width: 70%;
    margin: 0 auto;
  }
  #four .speaker-row .speaker.grid {
    width: 100% !important;
    height: 300px;
    min-width: 250px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  #four .speaker-row .speaker.grid .profile img {
    max-width: 240px;
    padding-top: 7px;
  }
  #four .speaker-row .speaker.grid p,
  #four .speaker-row .speaker.grid a {
    margin-left: 15px;
  }
  #four .speaker-row.two {
    width: 70%;
  }
  #four .box {
    width: 80%;
    max-height: 500px;
    overflow: scroll;
  }
  #signup-form .form-wrap {
    width: 97%;
  }
  #signup-form h4 {
    width: 70%;
  }
}

/* <400px */

@media only screen and (max-width: 400px) {
  #onehalf #reviewslider .slide {
    width: 97% !important;
  }
}

/*
 * Image replacement
 */

.ir {
  overflow: hidden;
  *text-indent: -9999px;
  background-color: transparent;
  border: 0;
}

.ir:before {
  display: block;
  width: 0;
  height: 150%;
  content: "";
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  {
    /* Style adjustments for high resolution devices */
  
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  {
    /*
         * Don't show links for images, or javascript/internal links
         */
  
  }
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
