/*

All site-specific styles go here.

Some rules and guidelines:
	classes are better than IDs
	don't specify font-sizes more than once
	avoid making classes for one rule
	avoid using pixels for font-sizes except on body
	don't abuse less nesting

*/

/*Typefaces*/
@serif: 'Adelle', serif;
@sans: 'Helvetica', sans-serif;

/*Color Pallete*/
@qblack: #040808;
@blue: #0095cb;

body {
	font-family: @sans;
	font-size: 14px;
	background-color: @qblack;
	color: #fff;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @serif;
}

p {
	line-height: 1.8em;
}

.italic {
	font-style: italic;
}

/*Base Structure Styles*/
.container {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.inner-wrap {
	width: 90%;
	max-width: 960px;
	margin: 0 auto;
}

.full-width.row {
	width: 100%;
	min-height: 65px;
	background-color: @blue;
	color: #fff;
	margin-bottom: 0;
	h4 {
		line-height: 1.8em;
	}
}

.q-cities {
	width: 60px;
	min-height: 90px;
	margin: 0 auto;
	img {
		width: 60px;
		height: auto;
	}
}


/*Nav Styles*/
.navigation {
	width: 100%;
	height: 130px;
	background-color: @qblack;
	overflow: visible;
	.inner-wrap {
		min-height: 50px;
		position: relative;
		width: 85%;
	}
	ul {
		list-style: none;
		padding: 0;
		margin-top: 90px;
	}
	li {
		a {
			text-transform: uppercase;
			text-decoration: none;
			font-family: 'Copperplate';	
			color: darken(#fff, 10%);
			transition: all .13s ease-in-out;
		}
		a:hover {
			color: #fff;
			text-shadow: 0 3px 15px #fff;
		}
	}
	.left {
		margin: 0;
		position: absolute;
		left: 30px;
		width: 40%;
		li {
			float: left;
			margin-right: 25px;
		}
	}
	.right{
		margin: 0;
		position: absolute;
		right: 40px;
		top: 0px;
		width: 40%;
		li {
			float: right;
			margin-left: 25px;
		}
	}
	.brand {
		overflow: visible;
		max-width: 200px;
		height: 50px;
		position: relative;
		margin: 0 auto;
		background-color: none;
		.oval{
			position: absolute;
			width: 350px;
  			height: 150px;
  			border-radius: 50%;
  			background-color: @qblack;
  			margin-left: -70px;
  			margin-top: 10px;
		}
		.q-cities {
			width: 40px;
			position: relative;
			bottom: -10px;
			img {
				width: 40px;
				height: auto;
			}
		}
		.ny {
			margin-left: -30px;
			h3 {
				color: darken(#fff, 10%);
				width: 100px;
				text-align: center;
				font-size: 1.1em;
				letter-spacing: .01em;
				text-transform: uppercase;
				font-weight: 600;
				border: 1px solid #fff;
				padding: 0;
				padding-top: 5px;
			}
		}
	}
}

		#nav-static {
			position: absolute;
			top: 0;
			right: 0;
		}
		
		#nav-sticky {
			display: none;
			position: fixed;
		}





/*First Section*/
	.center {
		width: 80%;
		padding-top: 200px;
		margin: 0 auto;
		max-width: 380px;
		min-width: 360px;
		.ny {
			width: 100%;
			h1 {
				text-align: center;
				font-size: 4em;
				letter-spacing: .01em;
				text-transform: uppercase;
				font-weight: 600;
				border: 4px solid #fff;
				padding: 0;
				padding-top: 10px;
				}
		}
		p {
			text-align: center;
			line-height: 1.8em;
		}
	}
#one {
	min-height: 700px;
	background-image: url('../img/bg_empire.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	#reviewslider {
		.inner-wrap {
		overflow: hidden;
		height: 300px;
		}
	}
	.bottom-half {
		margin-top: 80px;
		min-height: 400px;
		.linear-gradient( @dir: bottom, @start-color: rgba(0, 0, 0, 1), @end-color: rgba(0, 0, 0, 0) );
		h2 {
			font-weight: 300;
			font-size: 2em;
			color: @blue;
			text-align: center;
		}
		#image-grid {
			background-image: url('../img/img-grid.jpg');
			background-repeat: no-repeat;
			min-width: 270px;
			min-height: 240px;
		}
		p {
			margin-top: 0;
			line-height: 1.7em;
		}
	}
}
/*End First Section*/






/*First and a Half. Slider time.*/
.border {
	height: .5px;
	overflow: hidden;
	border-top: 1px solid @blue;
	width: 100%;
	position: relative;
}
#onehalf {
	height: 250px;
	#reviews {
		max-width: 1000px;
		margin: 0 auto;
		z-index: 999;
		h4 {
			text-transform: uppercase;
			font-size: .8em;
			letter-spacing: .3em;
			color: @blue;
			text-align: center;
			margin-top: 0;
			background-color: @qblack;
			padding-left: 4px;
			position: absolute;
		}
		.bgblk {
			padding: 10px;
			margin: 0 auto;
			margin-top: -17px;
			width: 100px;
		}
	}
	#reviewslider {
		max-width: 1100px;
		width: 90%;
		margin: 0 auto;
		i {
			margin: 0;
			margin-top: .5em;
			color: @blue;
			transition: all .3s ease-in-out;
		}
		i:hover {
			color: lighten(@blue, 30%);
			text-shadow: 0 3px 15px @blue;
		}
		.inner-wrap {
			height: 200px;
			overflow: hidden;
			margin-top: 20px;
			.five.columns {
				height: 200px;
				float: left;
			}
			p {
				font-style: italic;
				font-size: .8em;
				text-align: center;
			}
			h5 {
				text-align: center;
				color: @blue;
				margin: 6px;
			}
		}
		.slide {
			width: 30% !important;
		}
	}
}



/*Second Section*/
#two {
	background-color: #fff;
	color: @qblack;
	padding-top: 50px;
	#gabe {
		width: 100%;
		height: auto;
		min-height: 200px;
		background-image: url('../img/gabe.jpg');
		background-repeat: no-repeat;
		background-size: cover;	
	}
	.italic {
		font-size: .9em;
	}
	.eleven.columns {
		h3 {
			font-size: 1.3em;
			margin-top: 0;
			color: @blue;
		}
	}
	p.five.columns {
		float: left;
	}
	#photo-ribbon {
		background-image: url('../img/ribbon.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: scroll;
		height: 120px;
		overflow: hidden;
		margin-bottom: 0;
	}
	.full-width {
		margin-top: 0;
		overflow: hidden;
		padding-top: 4px;
		padding-bottom: 14px;
		h4 {
			font-size: 1.2em;
			font-weight: 600;
			text-align: center;
		}
	}
}





/*Long New York Background image*/
#newyork {
	background-image: url('../img/bg_ny.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 1500px;
	margin-top: -10px;

}



/*Section 3. Crazy interactions start here.*/
#three {
	.center {
		margin-top: 0px;
		padding-top: 80px;
		h3 { 
			font-weight: 500;
			font-size: 1.2em;
			text-align: center;
		}
		.q-cities {
			img {
				width: 70px;
				height: auto;
			}
		}
	}
}




/*Section 4. Speakers.*/
#four {
	margin-top: 50px;
	.inner-wrap {
		width: 90%;
		max-width: 1200px;
		margin: 0 auto;
		h2 {
			font-size: 1.8em;
			font-weight: 300;
			color: @blue;
			text-align: center;
			margin-bottom: 40px;
		}
	}
}

#presenter-grid {
	min-height: 700px;
	.tagline {
		float: left;
		width: 25%;
		height: 100%;
		min-height: 400px;
		max-width: 300px;
		h5 {
			padding-top: 150px;
			padding-right: 20px;
			font-size: 1.6em;
			font-weight: 400;
		}
	}
	.grid-wrap {
		float: left;
		width: 75%;
		height: 100%;
		min-height: 600px;
		max-width: 1000px;
		.speaker-row {
			height: 200px;
		}
	}
}

.grid {
	width: 20%;
	max-width: 150px;
	height: 180px;
	float: left;
	display: inline-block;
	margin-bottom: 0;
}

.grid.blank {
	padding: .1px;
}

.grid.speaker {
	background-color: #fff;
	text-align: center;
	height: 200px;
	img {
		width: 87%;
		max-width: 140px;
		margin: 0 auto;
		margin-top: 10px;
	}
	a {
		font-family: @sans;
		text-decoration: none;
		color: @blue;
		margin: 0;
		margin-left: 10px;
		float: left;
	}
	p {
		font-family: @serif;
		font-size: 1em;
		color: @qblack;
		margin: 0;
		margin-left: 10px;
		text-align: left;
	}
}

#signup-form {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 6px;
	border: 1px solid @blue;
	background-color: rgba(0,0,0,0.7);
	min-height: 50px;
	position: relative;
	.form-wrap {
		min-height: 50px;
		width: 80%;
		position: absolute;
		right: 5px;
		top: 6px;
		margin-left: 10px;
	}
	h4, input {
		margin: 0;
		padding: 0;
	}
	h4 {
		width: 17%;
		font-size: 1.3em;
		margin-left: 10px;
		margin-top: 14px;
		padding-left: 22px;
	}
	.email {
		width: 80%;
		min-height: 47px;
	}
	.submit {
		background-color: @blue;
		transition: background-color .13s ease-in-out;
		min-height: 51px;
		width: 19.25%;
		color: #fff;
		border: none;
		border-left: 3px solid @qblack;
		margin: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
	.submit:hover {
		background-color: darken(@blue, 20%);
	}
}



/*Section 5*/
#five {
	h2 {
		font-weight: 300;
		font-size: 2.3em;
		color: @blue;
		text-align: center;
		margin-top: 70px;
	}
	.center {
		padding-top: 0;
		margin-top: 50px;
		text-align: center;
		line-height: 1.8em;
	}
	#eventbrite {
		margin: 0 auto;
		margin-top: 40px;
		margin-bottom: 80px;
		padding: 1px;
		min-height: 350px;
		max-width: 600px;
		width: 60%;
		background-color: darken(#fff, 20%);
		p.center {
			color: @blue;
			min-width: 0;
		}
	}
}



/*Section 6*/
#six {
	.inner-wrap {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	background-color: #fff;
	min-height: 700px;
	color: @qblack;
	h3 {
		color: @blue;
		font-size: 2em;
	}
	#faq-wrap {
		max-width: 1000px;
		h3 {
			font-size: 1.2em;
			font-weight: 600;
		}
	}
}



/*Section 7*/
#seven {
	color: #5e6e66;
	.imageborder {
		width: 100%;
		height: 100px;
		background-image: url('../img/footer.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}
	h3 {
		text-transform: uppercase;
	}
	#sponsors {
		padding-bottom: 100px;
		img {
			max-width: 140px;
			height: auto;
		}
	}
}




/*********** Media Queries ****************/
@media @huge {
	#four {
		#presenter-grid {
			max-width: 755px;
			min-height: 800px;
			margin: 0 auto;
			.tagline {
				float: none;
				width: 100%;
				min-height: 100px;
				max-width: 700px;
				h5 {
					padding-top: 20px;
					padding-right: 0px;
					text-align: center;
				}
			}
			.grid-wrap {
				width: 100%;
				height: auto;
				min-height: 600px;
				max-width: 755px;
			}
		}
	}

	.navigation {
		.inner-wrap {
			width: 100%;
			.left {
				position: absolute;
				left: 20px;
			}
			.right {
				right: 20px;
			}
		}
	}
}

@media @fixgrid {
	#two {
		.columns.eleven.offset-by-one, .columns.five.offset-by-one {
			padding-left: 0px;
		}
		.columns.eleven {
			width: 70% !important;
		}
		.columns.five {
			width: 30% !important;
		}
	}

	.slidewrap-inner{
		width: 90%;
		margin: 0 auto;
	}

	#faq-wrap {
		.row {
			width: 85%;
			margin: 0 auto;
			.offset-by-one {
				padding-left: 0 !important;
			}
		}
	}

}

/*Fixing .five.columns issues*/
@media only screen and (min-width:960px) and (max-width:999px) {
	#one {
		.five.columns {
		width: 250px !important;
		}
	}
}

